:root {
  --purple: #7f3f97;
  --green: #18bc9c;
  --dark: #233140;
  --light: white;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  color: var(--dark);
}
img {
  width: 100%;
  height: auto;
}
a {
  color: var(--purple);
}
a:link {
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
a:hover {
  text-decoration: underline;
  color: var(--green);
}
a:active {
  color: var(--dark);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header figure {
  width: 16rem;
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav a {
  margin: 0.5rem 0;
  padding: 1rem;
  text-transform: uppercase;
}
.container {
  width: 92%;
  margin: auto;
  text-align: center;
}
.container h1,
.container h2 {
  font-weight: normal;
}
.container form {
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.container form input {
  margin: 1rem 0;
  border: none;
  border-bottom: thin solid var(--green);
}
.container form input:focus {
  outline: none;
}
.container form button {
  padding: 1rem;
  background-color: var(--purple);
  color: var(--light);
  border: none;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}
.container form button:hover {
  background-color: var(--green);
  cursor: pointer;
}
.container form button:focus {
  outline: none;
}
.ta-l {
  text-align: left;
}
.footer {
  text-align: center;
  font-size: 1.2rem;
}
.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.movie {
  border: 1px solid var(--dark);
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.4rem;
  position: relative;
}
.movie h2 {
  margin: 1rem;
  font-size: 1.6rem;
}
.movie img {
  width: auto;
  height: 24rem;
  float: left;
  margin-right: 1rem;
}
.movie div {
  position: absolute;
  left: 18rem;
  bottom: 0;
}
.movie div p {
  line-height: 0.4;
  font-size: 1.3rem;
}
.movie div span {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  .logo {
    margin-left: 1rem;
  }
  .nav {
    flex-direction: row;
    align-items: center;
  }
  .link {
    margin: 0 1rem;
  }
  .main,
  .aside {
    width: 720px;
  }
  .form {
    width: 32rem;
  }
  .form label {
    font-size: 1.6rem;
  }
  .footer {
    font-size: 1.4rem;
  }
}
/* MEDIA QUERIES
  ============================= */
@media screen and (min-width: 480px) {
  .container {
    max-width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
